
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="hor-menu" id="navbarSupportedContent">
        <ul class="nav navbar-nav">
            <li aria-haspopup="true" class="menu-dropdown mega-menu-dropdown  ">
                @Html.ActionLink("Home", "Index", "Home")
            </li>
        </ul>
    </div>
</nav>