
@model NTU_FYP_REBUILD_17.ViewModels.ArchiveSQLViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/ArchiveSQL/__LayoutArchive.cshtml";
}
<h1>Welcome to my Archive Page.</h1>
<h2>Excel Pass: 123</h2>