@{
    ViewBag.Title = "Login Failure";
}

<div class="portlet light ">
    <hgroup>
        <h2></h2>
        <h3 class="text-danger">Password reset link expired. Please request for a new link.</h3>
    </hgroup>
</div>
